<!DOCTYPE HTML>
<!--
	Hyperspace by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Hyperspace by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>Dicas para diminuir os gastos de luz e água em casa	</h1>
							<p>Se sua conta de luz e água estão muito caras, aqui estão algumas dicas para te ajudar!!</p>
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<a href="#" class="image"><img src="images/shower.jpg" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Dica #1 - Tome banhos mais curtos</h2>
									<p>	Quando estiver passando shampoo e se ensaboando feche o registro para que a água não seja disperdicada.</p>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="images/torneira.jpg" alt="" data-position="top center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Dica #2 - Feche a torneira ao escovar os dentes</h2>
									<p>Não é necessário deixar a torneira aberta enquanto você está escovando os dentes. Molhe a escova e feche a torneira, depois abra novamente apenas para limpar a boca</p>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="images/descarga.jpg" alt="" data-position="25% 25%" /></a>
							<div class="content">
								<div class="inner">
									<h2>Dica #3 - Use a descarga com consciência</h2>
									<p>Cada descarga do vaso sanitário consome entre 6 a 10 litros de água. Utilize-a somente quando houver necessidade e não jogue lixo ou restos de comida no vaso.</p>
								</div>
							</div>
						</section>
					</section>

									<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<a href="#" class="image"><img src="images/maquina.jpg" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Dica #4 - Controle o uso da máquina de lavar</h2>
									<p>	Deixe acumular mais roupas sujas para fazer uma única lavagem e otimizar seu uso, pois além de gastar energia ela também gasta muita água.</p>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="images/luz.jpg" alt="" data-position="top center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Dica #5 - Apage a luz ao sair de um cômodo</h2>
									<p>Não deixe a luz ligada em um cômodo quando não estiver ninguém no local, sempre apague quando sair, dessa maneira a energia será economizada.</p>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="images/ar.jpg" alt="" data-position="25% 25%" /></a>
							<div class="content">
								<div class="inner">
									<h2>Dica #6 - Use os ventiladores e ar-condicionados com sabedoria</h2>
									<p>Estes aparelhos tem consumo similar ao do chuveiro elétrico e costuma ficar ligado por mais tempo. Se estiver no quarto, feche a porta e as janelas para que ele refresque o cômodo adequadamente.</p>
								</div>
							</div>
						</section>
					</section>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>